.gradient-custom {
    background-image: url("//images/a.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }
    .nah{
      background-color:rgba(0, 0, 0, 0.6);
    }