.container .heading::before{

    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg, #71b7e6, #9b5b);
}


.container form .card-details{

    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


form .card-details .card-box{

    width:calc( 100% / 2 - 20px);
    margin-bottom: 15px;

}


.card-details .card-box .details{

    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}


.card-details .card-box input{

    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}


form .button{ text-align: center; }

form .button input{

    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 50%;
    outline: none;
    color: rgb(12, 12, 12);
    border: none;
    font-size: 18px;
    font-weight: 500px;
    border-radius: 8px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, orange , #78037a);

}


form .button input:hover{

    background: linear-gradient(-135deg, orange , #78037a);
}




@media (max-width:584px) {
    
    form .card-details .card-box{

        margin-bottom: 15px;
        width: 100%;

    }

    .container form .card-details{

        max-height: 300px;
        overflow: scroll;
    }

    .card-details::_webkit-scrollbar{ width: 0; }

    }



